.video-wrapper{
    width: 40vw;
    margin: 30px auto;
    animation: mainVideo 5s linear;
    animation-timeline: view();
    animation-range: entry 20%;
    animation-fill-mode: forwards;
    position: relative;
}

.hero-video{
    width: 100%;
    
}

.video-wrapper::before{
    content: "Every firm deserves a bold face";
    position: absolute;
    bottom: 60px;
    left: 40px;
    font-size: 72px;
    font-weight: 700;
    color: white;
    max-width: 500px;
    line-height: 90%;
    
    animation: heroVideoText 5s linear;
    
    animation-fill-mode: forwards;
}

@media (max-width: 500px){
    .video-wrapper::before{
        font-size: 30px;
        width: 200px;
        bottom: 20px;
        left: 10px;
    }
}
@media (min-width: 501px) and (max-width: 800px){
    .video-wrapper::before{
        font-size: 56px;
        width: 300px;
        bottom: 30px;
        left: 30px;
    }
}

@keyframes heroVideoText {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes mainVideo {
    from{
        min-width: 30%;
    }
    to{
        width: 100%;
        
    }
}