.cta-form > input{
    display: block;
    outline: none;
    border-bottom: 1px solid #3F3F3F;
    width: 100%;
    
    padding: 10px;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    background-color: transparent !important;
}

.cta-form input[type="checkbox"]{
    accent-color: #800080;
}